body {
  background:url(https://lc-gluttony.s3.amazonaws.com/lluZUwuZiZie/Oviox96EAf9YML7amxMgLuopfavUwS5B/wallhaven-x69x1o_1920x1080.webp)
  background-repeat: no-repeat;
  background-attachment:fixed; //不重复
  background-size: cover;      //填充
  background-position:50% 50%;
}

:root {
  --content-bg-color:#1f1f1ff7;
}

.site-brand-container {
  background: #333;
}

.footer {
  color: #efefef
}

.tag-cloud-0 {
  color: #777
  border-bottom-color: #777
}